{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
<form action="/register" method="post">
  <div class="mb-3">
      <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Username" type="text">
  </div>
  <div class="mb-3">
      <select class="form-select mx-auto w-auto country" name="country">
          <option disabled selected value="">Select Country</option>
          {% for country in countries %}
                <option value="{{ country['entity'] }}">{{ country["entity"] }}</option>
                <h3>Your expense would be displayed in {{ country["currency"] }} ({{ country["alphabetic_code"] }})</h3>
          {% endfor %}
      </select>
  </div>
  <div class="mb-3">
    <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="weekly_budget" placeholder="Set Weekly Budget" type="numeric">
  </div>
  <div class="mb-3">
      <input class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password">
  </div>
  <div class="mb-3">
    <input class="form-control mx-auto w-auto" name="confirmation" placeholder="Confirm Password" type="password">
  </div>
  <p style="color:white;">Already a user? <a href="/login">Login Now</a></p>
  <button class="btn btn-success" type="submit">Register</button>
</form>

{% endblock %}
